{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    ["@babel/transform-runtime", {
      "regenerator": true
    }],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "test": "./test"
        }
      }
    ],
    "version-transform"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
