{
  "presets": [
    ["babel-preset-es2015", {"modules": false, "loose": true}],
    "babel-preset-react",
    "babel-preset-stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["inline-json-import", {}],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ]
}