node_modules/
*/**/node_modules/
coverage/
*-coverage/
.nyc_output/
dist/
build/
umd/
*/**/dist/

typedoc/

examples/**/yarn.lock
!examples/demo-app/yarn.lock

yarn-error.log
*/**/package-lock.json
package-lock.json

.DS_Store
.idea
.vscode/
.venv/

/bundle*.js
/favicon.png
/index.html

npm-debug.log
.history/
.yarn
.npmrc

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
