node_modules/
*/**/node_modules/
coverage/
.nyc_output/
dist/
umd/
*/**/dist/

*/**/yarn.lock
yarn-error.log
*/**/package-lock.json
package-lock.json

.DS_Store
.idea
.vscode/

/bundle*.js
/favicon.png
/index.html

npm-debug.log
