language: node_js
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-6
    - mesa-utils
    - xvfb
    - libgl1-mesa-dri
    - libglapi-mesa
    - libosmesa6
    - libxi-dev
install:
  - yarn --ignore-engines
node_js:
  - 8
  - 10
before_script:
  - export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start
  - "curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | sudo bash"
script:
  - npm run lint
  - npm run test
  - fossa
cache: yarn
