*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/


# OS X
.DS_Store
.vs_code/


*.py[cod]
*/__pycache__/
*.ipynb_checkpoints/
*.egg-info/

*/yarn.lock
*/yarn-error.log
*/package-lock.json

# Compiled javascript
*/static/
js/dist/

setup.orig.py
setup.orig2.py

notebooks/*.html
notebooks/*.sh
notebooks/*.js

*/*.tgz
package/

*.old*
*test*
js/temp.*
