geopandas==0.14.3
ipywidgets==7.8.1
Shapely==1.6.4.post2
traitlets==4.3.2
traittypes==0.2.1
jupyter_packaging==0.12.3
notebook==6.4.12
setuptools==69.5.1
jupyter==1.0.0
jupyterlab==4.1.6
pyarrow==16.0.0
