$primary: #00ADE6;
$secondary: #05E3D5;
$black: #041725;
$black-20: #213746;
$black-40: #5A666D;
$white: #EDEDED;
$white-40: #8D9BA3;

$font-family: 'Source Sans Pro';

$footer-height: 13rem;
$topbar-height: 4rem;
$topbar-maxheight: 8rem;
$toc-width: 17rem;
$mobile: 576px;

$gradient-1: linear-gradient(to right, $primary 0%, $secondary 100%);
$gradient-2: linear-gradient(to bottom, $primary 0%, $secondary 100%);

