{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "root": [
          "../src"
        ],
        "alias": {
          "test": "../test"
        }
      }
    ]
  ]
}
